<!DOCTYPE html>
<html lang="en" ng-app>

<head>
    <meta charset="UTF-8">
    <title>Angular Page</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="TestController.js"></script>
</head>
<body>

Write some text: <input type="text" ng-model="sometext">

<div id="contacts" ng-controller="TestController">

    <h1>Contacts</h1>
    <ul>
        <li ng-repeat="contact in contacts"> {{contact}}</li>
    </ul>

</div>

</body>
</html>