<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angular Page</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="TestController.js"></script>
</head>
<body>

<div ng-app="myFilter" ng-controller="TestController">

    Name: <input type="text" ng-model="newcontact.name"/>
    Email: <input type="text" ng-model="newcontact.email"/>

    <button ng-click="add()">Add Contact</button>
    <h1>Contacts</h1>
    <ul>
        <li ng-repeat="contact in contacts | filterBy:searchString"> {{contact.name + " (" + contact.email + ")" }}</li>
    </ul>

    Filter: <input type="text" ng-model="searchString" placeholder="Search String"/>
</div>

</body>
</html>